<app-container class="login-page">
  <div class="login-card">
    <div class="space-y-10 lg:space-y-20 my-10 text-center">
      <h1 class="login-title">Login to the our LMS</h1>

      <form [formGroup]="form" class="login-form" novalidate>
        <div class="form-field">
          <mat-label>Username:</mat-label>
          <mat-form-field appearance="fill" class="full-width">
            <mat-error *ngIf="form.controls['username'].errors">
              Please enter a valid username.
            </mat-error>
            <input matInput formControlName="username" type="text" />
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-label>Password:</mat-label>
          <mat-form-field appearance="fill" class="full-width">
            <mat-error *ngIf="form.controls['password'].errors">
              Please enter a valid password.
            </mat-error>
            <input matInput formControlName="password" type="password" />
          </mat-form-field>
        </div>

        <div>
          <button (click)="login()" mat-flat-button cdkFocusInitial color="primary" class="login-button">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</app-container>